body {
    background-color: rgb(150, 119, 113);


    margin: 0;
}

#menu {
    background: #b28080;
    width: 300px;
    height: 1200px;
    text-align: center;
    box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: -32px;

}

.logo {
    width: 180px;
    border: 6px ridge #fff;
    border-radius: 50%;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.0rem;
    color: rgba(255, 255, 255, 0.863);
    font-family: "Bodoni Moda SC";
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);


}

h2 {
    font-size: 2.0rem;
    color: rgba(255, 255, 255, 0.747);
    font-family: "bodoni moda sc";
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

}

.links1 {
    text-decoration: none;
    color: #ab969300;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
    transition: all 0.6s ease;
    background-color: #ffffff94;
    border-radius: 1rem;
}

.links1:hover {
    background-color: #fff;
    color: rgba(61, 30, 0, 0.672)
}

header {
    float:left;
}

#conteudo {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.info01 {
    font-size: 1.3;
    background-color: #c39393;
    margin: 2rem 1rem 0.5rem 20rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
    color: rgb(245, 232, 232)


}

.info02 {
    background-color: #edcaca;
    margin: 2rem 1rem 0rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 300px;
    height: 200px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
color: rgba(96, 87, 87, 0.77)
}

.info03 {
    background-color: #edcaca;
    margin: 2rem 1rem 0rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 300px;
    height: 200px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
color: rgba(96, 87, 87, 0.77)
}
.info04 {
    background-color: #edcaca;
    margin: 2rem 1rem 0rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 300px;
    height: 200px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
color: rgba(96, 87, 87, 0.77)
}
.info05 {
    background-color: #edcaca;
    margin: 2rem 1rem 0rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 300px;
    height: 200px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
color: rgba(96, 87, 87, 0.77)
}
.info06 {
    background-color: #edcaca;
    margin: 2rem 1rem 0rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 300px;
    height: 200px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
color: rgba(96, 87, 87, 0.77)
}
.info07 {
    background-color: #edcaca;
    margin: 2rem 1rem 0rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 300px;
    height: 200px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
color: rgba(96, 87, 87, 0.77)
}
footer {
    background-color: #b89a9a;
    color:#fff;
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    clear:both;
    padding:0.2rem;
}

